clang
clang-tools-extra
cmark
compiler-rt
icu
indexstore-db
libcxx
llbuild
lldb
llvm
ninja
sourcekit-lsp
swift-corelibs-foundation
swift-corelibs-libdispatch
swift-corelibs-xctest
swift-integration-tests
swiftpm
swift-stress-tester
swift-syntax
swift-xcode-playground-support
tensorflow
tensorflow-swift-apis
*~
\#*\#